.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.general-bg {
  background-image: url('http://strapi.gycos.com.mx/uploads/services_background_c3aaf378a0.png');
}
