.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.general-bg {
  background-image: url('/uploads/services-background.png');
}
