.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.general-bg {
  background-image: url('/portal/uploads/services_background_c3aaf378a0.png');
}
